<div class="card">
    <div class="card__header">
        <div class="card__like-button">
            <img src="./img/like-icon.svg" alt="...">
        </div>
        <img src="@@picture" alt="">
    </div>
    <div class="card__body">
        <h6 class="card__title">@@title</h6>
        <p class="card__text">@@text</p>
        <p class="card__price-and-quantity">
            @@price <span>/ @@productQuantity</span>
        </p>
        <img class="card__rating" src="./img/stars-icon.svg" alt="">
        <button class="card__button" type="button">
            <img src="./img/shopping-cart.svg" alt="">
            <div class="card__button-alt-content">
                <span>В корзину</span>
                <span>
                    <img src="./img/plus.svg" alt="Плюс">
                    <img src="./img/shopping-cart-green.svg" alt="">
                </span>
            </div>
        </button>
    </div>
</div>