<div class="list">
     <h2 class="list__title">С этим товаром покупают</h2>
     <div class="list__elements">
          @@include('card.html', {
               picture: '../../img/milk-photo.jpeg',
               title: "Молоко 3,2 %",
               text: "от Вадима Рошки",
               price: "95 ₽",
               productQuantity: "0,93 л"
          })
          @@include('card.html', {
               picture: '../../img/photo-of-wheat-bread.jpeg',
               title: "Хлеб пшеничный",
               text: "от Дарьи и Марии",
               price: "95 ₽",
               productQuantity: "930 г"
          })
          @@include('card.html', {
               picture: '../../img/photo-of-chicken-eggs .jpeg',
               title: "Яйца куриные",
               text: "от Евгения Рошаль",
               price: "120 ₽",
               productQuantity: "10 шт"
          })
          @@include('card.html', {
               picture: '../../img/ photo-of-butter.jpeg',
               title: "Масло сливочное 82 %",
               text: "от Вадима Рошки",
               price: "290 ₽",
               productQuantity: "250 г"
          })
     </div>
</div>