<div class="list">
     <h2 class="list__title">С этим товаром покупают</h2>
     <div class="list__elements">
          <div class="card">
    <div class="card__header">
        <div class="card__like-button">
            <img src="../../img/like-icon.svg" alt="...">
        </div>
        <img src="../../img/milk-photo.jpeg" alt="">
    </div>
    <div class="card__body">
        <h6 class="card__title">Молоко 3,2 %</h6>
        <p class="card__text">от Вадима Рошки</p>
        <p class="card__price-and-quantity">
            95 ₽ <span>/ 0,93 л</span>
        </p>
        <img class="card__rating" src="../../img/stars-icon.svg" alt="">
        <button class="card__button" type="button">
            <img src="../../img/shopping-cart.svg" alt="">
            <div class="card__button-alt-content">
                <span>В корзину</span>
                <span>
                    <img src="../../img/plus.svg" alt="Плюс">
                    <img src="../../img/shopping-cart-green.svg" alt="">
                </span>
            </div>
        </button>
    </div>
</div>
          <div class="card">
    <div class="card__header">
        <div class="card__like-button">
            <img src="../../img/like-icon.svg" alt="...">
        </div>
        <img src="../../img/photo-of-wheat-bread.jpeg" alt="">
    </div>
    <div class="card__body">
        <h6 class="card__title">Хлеб пшеничный</h6>
        <p class="card__text">от Дарьи и Марии</p>
        <p class="card__price-and-quantity">
            95 ₽ <span>/ 930 г</span>
        </p>
        <img class="card__rating" src="../../img/stars-icon.svg" alt="">
        <button class="card__button" type="button">
            <img src="../../img/shopping-cart.svg" alt="">
            <div class="card__button-alt-content">
                <span>В корзину</span>
                <span>
                    <img src="../../img/plus.svg" alt="Плюс">
                    <img src="../../img/shopping-cart-green.svg" alt="">
                </span>
            </div>
        </button>
    </div>
</div>
          <div class="card">
    <div class="card__header">
        <div class="card__like-button">
            <img src="../../img/like-icon.svg" alt="...">
        </div>
        <img src="../../img/photo-of-chicken-eggs .jpeg" alt="">
    </div>
    <div class="card__body">
        <h6 class="card__title">Яйца куриные</h6>
        <p class="card__text">от Евгения Рошаль</p>
        <p class="card__price-and-quantity">
            120 ₽ <span>/ 10 шт</span>
        </p>
        <img class="card__rating" src="../../img/stars-icon.svg" alt="">
        <button class="card__button" type="button">
            <img src="../../img/shopping-cart.svg" alt="">
            <div class="card__button-alt-content">
                <span>В корзину</span>
                <span>
                    <img src="../../img/plus.svg" alt="Плюс">
                    <img src="../../img/shopping-cart-green.svg" alt="">
                </span>
            </div>
        </button>
    </div>
</div>
          <div class="card">
    <div class="card__header">
        <div class="card__like-button">
            <img src="../../img/like-icon.svg" alt="...">
        </div>
        <img src="../../img/ photo-of-butter.jpeg" alt="">
    </div>
    <div class="card__body">
        <h6 class="card__title">Масло сливочное 82 %</h6>
        <p class="card__text">от Вадима Рошки</p>
        <p class="card__price-and-quantity">
            290 ₽ <span>/ 250 г</span>
        </p>
        <img class="card__rating" src="../../img/stars-icon.svg" alt="">
        <button class="card__button" type="button">
            <img src="../../img/shopping-cart.svg" alt="">
            <div class="card__button-alt-content">
                <span>В корзину</span>
                <span>
                    <img src="../../img/plus.svg" alt="Плюс">
                    <img src="../../img/shopping-cart-green.svg" alt="">
                </span>
            </div>
        </button>
    </div>
</div>
     </div>
</div>