<div class="product-info">
    <ul class="product-info__list">
        <li>
            <h3>ХАРАКТЕРИСТИКИ</h4>
        </li>
        <li>
            <span>Страна</span>
            <span>Россия</span>
        </li>
        <li>
            <span>Поставщик</span>
            <span>
                <span class="some-word">Фермеры:</span> Наталья и Юрий Лейшан
            </span>
        </li>
        <li>
            <span>Тип упаковки</span>
            <span>Крафтовый пакет</span>
        </li>
        <li>
            <span>Сертификаты качества</span>
            <span>В наличии</span>
        </li>
    </ul>
    <ul class="product-info__list">
        <li>
            <h3>ПИЩЕВАЯ ЦЕННОСТЬ НА 100Г</h4>
        </li>
        <li>
            <span>Энергетическая ценность</span>
            <span>18 кКал</span>
        </li>
        <li>
            <span>Белки</span>
            <span>0.9 г</span>
        </li>
        <li>
            <span>Жиры</span>
            <span>0.2 г</span>
        </li>
        <li>
            <span>Углеводы</span>
            <span>3.9 г</span>
        </li>
    </ul>
    <ul class="product-info__list">
        <li>
            <h3>УСЛОВИЯ ХРАНЕНИЯ</h4>
        </li>
        <li>
            <span>Срок хранения</span>
            <span>7 дней</span>
        </li>
        <li>
            <span>Температура хранения</span>
            <span>от 3 ° до 7 °</span>
        </li>
    </ul>
</div>