*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}